@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <h5>Create a New Account</h5>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="Input.Firstname" class="form-control" placeholder="First Name" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Firstname" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Lastname" class="form-control" placeholder="Last Name" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Lastname" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <div class="row">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </form>

                <a asp-page="./Login" class="text-center">I already have an Account</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
